<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="turtle.app.antibully"
    android:versionCode="1"
    android:versionName="1.0" >
    <supports-screens android:xlargeScreens="true" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="turtle.app.antibully.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="turtle.app.antibully.QuizStarterActivity"
            android:label="@string/app_name"
            android:parentActivityName="turtle.app.antibully.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="turtle.app.antibully.MainAtivity" />
        </activity>
        <activity
            android:name="turtle.app.antibully.QuizFirstActivity"
            android:label="@string/title_activity_quiz_first"
            android:parentActivityName="turtle.app.antibully.QuizStarterActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="turtle.app.antibully.QuizStarterActivity" />
        </activity>
        <activity
            android:name="turtle.app.antibully.QuizFailedActivity"
            android:label="@string/title_activity_quiz_failed"
            android:parentActivityName="turtle.app.antibully.QuizStarterActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="turtle.app.antibully.QuizStarterActivity" />
        </activity>
        <activity
            android:name="turtle.app.antibully.QuizSecondActivity"
            android:label="@string/title_activity_quiz_second"
            android:parentActivityName="turtle.app.antibully.QuizStarterActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="turtle.app.antibully.QuizStarterActivity" />
        </activity>
        <activity
            android:name="turtle.app.antibully.CrdtsActivity"
            android:label="@string/title_activity_crdts"
            android:parentActivityName="turtle.app.antibully.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="turtle.app.antibully.MainActivity" />
        </activity>
    </application>

</manifest>